body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.experience-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.experience-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.experience-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-card h2 {
    margin-top: 0;
    color: #007BFF;
}

.experience-card h3 {
    margin: 0;
    color: #555;
}

.experience-card p {
    margin: 10px 0;
    color: #333;
}

.experience-card ul {
    padding-left: 20px;
    color: #555;
}

.experience-card ul li {
    margin-bottom: 10px;
}